

body{

	margin: 0;
}



/* _______________ BARRE DE NAVIGATION ___________________ */

.ul1
{ 
	list-style-type: none;
    display: flex; 
	justify-content: flex-end;
	align-items: center; 
	font-family: arial,sans-serif;
}


.li1{padding-left: 12px;}

li:hover{ 
	color: darkgrey
;
	text-decoration: underline;
}

/* _______________ LOGO ___________________ */


#logo
{
width: 300px;
}

.micro {
       position: relative;
    left: -32px;
    bottom: -5px;
    display: flex;
    height: 30px;
    width: 35px;
}


.ellogo
{
	height: 213px;
    margin-top: 45px;
}


.search {
border: solid 1px #eee;
   box-shadow: 0px 3px 4px #aaa;
   height: 35px;
	vertical-align: top;
	width: 582px;
	outline: none;
}

#text {

	    width: 578px;
    height: 33px;
    outline: none;
    border: 0;
}

#rech
{
display: flex;
justify-content: center;
outline: none;"
	;
}


/* _______________ BOUTONS ___________________ */

#pano{
	color: black
  width: 340px;
    height: 140px;
    margin-right: 20px;
    border-radius: 5px;
    font-size: medium;
    color: gray;
    margin-top: 250px;
}

center {
	width: 100%;
	height: 40px;
	padding-top:25px; 
}


center input {}

center input:hover{
	border: 2px solid #e4e4e4;
	color:black;}

#b1{

    background-color: #f2f2f2;
    border-radius: 2px;
    border: 1px solid #f2f2f2;
    color: rgba(0,0,0,0.8);
    font-family: arial, sans-serif;
    font-size: 13px;
    font-weight: bold;
    height: 32px;
    line-height: 27px;
    text-align: center;
    margin-right: 5px;

}

#b2{
background-color: #f2f2f2;
    border-radius: 2px;
    border: 1px solid #f2f2f2;
    color: rgba(0,0,0,0.8);
    font-family: arial, sans-serif;
    font-size: 13px;
    font-weight: bold;
    height: 32px;
    line-height: 27px;
    text-align: center;
    margin-right: 5px;

}

button:hover
{
	color: black;

}


#English {
font-family: arial,sans-serif;
	display: flex;
align-items: center;
justify-content: center;
}


/* _______________ PIED DE PAGE  ___________________ */


footer{
	background: #f2f2f2;
	display: flex;
	flex-direction: column;
	position: absolute;
	bottom: 0px;
	width: 100%;
	color: #222;
	font-family: arial, sans-serif;
	font-size: 16px;
}

footer div{
	padding-top: 13px;
	height: 33px;
	width: 100%; 
	border-top: 0.2px solid #e4e4e4;
	
		
}
#France span{
	margin-left: 15px;
}
#contact{
	display: flex;
	justify-content: space-between;
	
}
#contact aside{
	margin-left: 10px;
	margin-right: 20px;
}

aside span{
	margin-right: 7px;
}
footer a{
	color: #222;
}




